<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>カテゴリ編集</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>カテゴリ編集</h1>

<p th:if="${errorMessage}" th:text="${errorMessage}" style="color: red;"></p>

<form th:action="@{/categories/update/{id}(id=${category.id})}"
      th:object="${category}"
      method="post">

	  <input type="hidden"
               th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}">

	<div>
		<label for="name" class="form-label">カテゴリ名：</label>
		<input type="text" th:field="*{name}" id="name" class="form-control" />

		<!-- バリデーションエラーメッセージ -->
		<div th:if="${#fields.hasErrors('name')}" class="text-danger mt-1">
			<p th:errors="*{name}">カテゴリ名エラー</p>
		</div>
	</div>

	<button type="submit" >保存</button>
</form>

<a th:href="@{/categories}">カテゴリ一覧へ戻る</a>

</body>
</html>